<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>myTitle</title>
    <!-- jquery-->
    <script src="../static/jquery-ui-1.12.1/external/jquery/jquery.js"></script>
    <!-- jquery ui-->
    <link rel="stylesheet" href="../static/jquery-ui-1.12.1/jquery-ui.css">
    <script src="../static/jquery-ui-1.12.1/jquery-ui.js"></script>
    <script src="../static/jquery-ui-1.12.1/my-ui.js"></script>
    <!-- jquery ui layout-->
	<script src="../static/jquery-layout-1.4.0/jquery.layout-latest.js"></script>
    <link rel="stylesheet" href="../static/jquery-layout-1.4.0/layout-default-latest.css">
    <script src="../static/jquery-layout-1.4.0/my-layout.js"></script>
    <link href="../static/jquery-layout-1.4.0/my-layout.css" rel="stylesheet">
    <!-- text stype -->
    <style>
        .char{
            border: 1px solid red;
        }
    </style>
</head>
<body>
    <div id="centerWindow">
        <div id="textWindow">
            <ul>
                <li>
                    <a href="#textTab1">Nunc tincidunt</a>
                </li>
                <li><a href="#textTab2">Proin dolor</a></li>
                <li><a href="#textTab3">Aenean lacinia</a></li>
            </ul>
            <div class="ui-layout-content">
                <div id="textTab1" class="textTab">
                        <div id="0-0-1-2" class="char" style="float: left">
                            <div>
                                \n
                            </div>
                        </div>
                    <div>
                        <br>
                        <div id="0-0-1-2" class="char" style="float: left">
                            <div>
                                &nbsp;
                            </div>
                        </div>
                        <div id="0-0-1-2" class="char" style="float: left">
                            <div>
                                &nbsp;
                            </div>
                        </div>
                        <div id="0-0-1-2" class="char" style="float: left">
                            <div>
                                天
                            </div>
                        </div>
                        <div id="0-0-1-2" class="char" style="float: left">
                            <div>
                                很
                            </div>
                        </div>
                        <div id="0-0-1-2" class="char" style="float: left">
                            <div>
                                蓝
                            </div>
                        </div>
                        <div id="0-0-1-2" class="char" style="float: left">
                            <div>
                                。
                            </div>
                        </div>
                        <div id="0-0-1-2" class="char" style="float: left">
                            <div>
                                \n
                            </div>
                        </div>
                    </div>
                    <br>
                    <div>

                        <div id="0-0-1-2" class="char" style="float: left">
                            <div>
                                &nbsp;
                            </div>
                        </div>
                        <div id="0-0-1-2" class="char" style="float: left">
                            <div>
                                &nbsp;
                            </div>
                        </div>
                        <div id="0-0-1-2" class="char" style="float: left">
                            <div>
                                天
                            </div>
                        </div>
                        <div id="0-0-1-2" class="char" style="float: left">
                            <div>
                                很
                            </div>
                        </div>
                        <div id="0-0-1-2" class="char" style="float: left">
                            <div>
                                蓝
                            </div>
                        </div>
                        <div id="0-0-1-2" class="char" style="float: left">
                            <div>
                                。
                            </div>
                        </div>
                    </div>
                </div>
                <div id="textTab2" class="textTab">
                    <p>Morbi tincidunt, dui sit amet facilisis feugiat, odio metus gravida ante, ut pharetra massa metus id nunc. Duis scelerisque molestie turpis. Sed fringilla, massa eget luctus malesuada, metus eros molestie lectus, ut tempus eros massa ut dolor. Aenean aliquet fringilla sem. Suspendisse sed ligula in ligula suscipit aliquam. Praesent in eros vestibulum mi adipiscing adipiscing. Morbi facilisis. Curabitur ornare consequat nunc. Aenean vel metus. Ut posuere viverra nulla. Aliquam erat volutpat. Pellentesque convallis. Maecenas feugiat, tellus pellentesque pretium posuere, felis lorem euismod felis, eu ornare leo nisi vel felis. Mauris consectetur tortor et purus.</p>
                </div>
                <div id="textTab3" class="textTab">
                    <p>Mauris eleifend est et turpis. Duis id erat. Suspendisse potenti. Aliquam vulputate, pede vel vehicula accumsan, mi neque rutrum erat, eu congue orci lorem eget lorem. Vestibulum non ante. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce sodales. Quisque eu urna vel enim commodo pellentesque. Praesent eu risus hendrerit ligula tempus pretium. Curabitur lorem enim, pretium nec, feugiat nec, luctus a, lacus.</p>
                    <p>Duis cursus. Maecenas ligula eros, blandit nec, pharetra at, semper at, magna. Nullam ac lacus. Nulla facilisi. Praesent viverra justo vitae neque. Praesent blandit adipiscing velit. Suspendisse potenti. Donec mattis, pede vel pharetra blandit, magna ligula faucibus eros, id euismod lacus dolor eget odio. Nam scelerisque. Donec non libero sed nulla mattis commodo. Ut sagittis. Donec nisi lectus, feugiat porttitor, tempor ac, tempor vitae, pede. Aenean vehicula velit eu tellus interdum rutrum. Maecenas commodo. Pellentesque nec elit. Fusce in lacus. Vivamus a libero vitae lectus hendrerit hendrerit.</p>
                </div >
            </div>
        </div>
        <div id="annotationInfoWindow">
            <button id="addtab">+</button>
            <button id="deltab">-</button>
            path=XXX <p>
            token=F <p>
            POS: type=XX.XX <p>
            ner: type=XX.XX <p>
            instance: instance_id=XXXXXXX <p>
        </div>
    </div>
    <div id="instanceWindow">
        <div id="instanceSelectWindow">
            <ul>
                <li><a href="#allInstanceTab">全部对象</a></li>
                <li><a href="#commonInstanceTab">常用对象</a></li>
            </ul>
            <div id="allInstanceTab">
                <div id="searchInstance"></div>
                <div id="resultInstance">
                    <div id="newInstance">
                        +
                    </div>
                </div>
            </div>
            <div id="commonInstanceTab">
                <div id="newInstance">
                    +
                </div>
            </div>
        </div>
        <div id="instanceInfoWindow">
            <ul>
                <li><a href="#instanceInfoTab1">1</a></li>
                <li><a href="#instanceInfoTab2">2</a></li>
            </ul>
            <div id="instanceInfoTab1">
                <div id="searchInstance"></div>
                <div id="resultInstance">
                    <div id="newInstance">
                        +
                    </div>
                </div>
            </div>
            <div id="instanceInfoTab2">
                <div id="newInstance">
                    +
                </div>
            </div>
        </div>
    </div>
</body>
</html>