<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>myTitle</title>
    <!-- jquery-->
    <script src="../static/jquery-ui-1.12.1/external/jquery/jquery.js"></script>
    <!-- jquery ui-->
    <link rel="stylesheet" href="../static/jquery-ui-1.12.1/jquery-ui.css">
    <script src="../static/jquery-ui-1.12.1/jquery-ui.js"></script>
    <script src="../static/jquery-ui-1.12.1/my-ui.js"></script>
    <!-- jquery ui layout-->
	<script src="../static/jquery-layout-1.4.0/jquery.layout-latest.js"></script>
    <link rel="stylesheet" href="../static/jquery-layout-1.4.0/layout-default-latest.css">
    <script src="../static/jquery-layout-1.4.0/my-layout.js"></script>
    <link href="../static/jquery-layout-1.4.0/my-layout.css" rel="stylesheet">
    <!-- jquery tree view -->
    <link rel="stylesheet" href="https://static.runoob.com/assets/js/jquery-treeview/jquery.treeview.css" />
	<link rel="stylesheet" href="https://static.runoob.com/assets/js/jquery-treeview/screen.css" />
	<script src="https://static.runoob.com/assets/js/jquery-treeview/jquery.treeview.js" type="text/javascript"></script>
    <!-- jquery sortable -->
    <style>
        .group {list-style-type: none; margin: 0; padding: 2px 0 2px 0; background: #c5c5c5;}
        .items {list-style-type: none; margin: 0; padding: 2px 0 2px 0; background: #dddddd;}
        .group::after {content:" ";display: table;clear: both;}
        .items::after {content:" ";display: table;clear: both;}
        .group_li{ margin: 5px ; padding: 0; border: 1px solid #2b2b2b;}
        .item_li {float: left; padding: 0 7px 0 0; margin: 3px; background: #c5c5c5;}
        button {padding: 0;}
    </style>
    <script>
        $(function() {
            $( ".group" ).sortable({
                connectWith: ".group",
                dropOnEmpty: true
            }).disableSelection();
        });
        $(function() {
            $( ".items" ).sortable({
                connectWith: ".items",
                dropOnEmpty: true
            }).disableSelection();
        });
    </script>
    <!-- flask args to js -->
    <script>
        var langDict = {{ langDict | tojson | safe }};
        var labelSysDict = {{ labelSysDict | tojson | safe }};
    </script>
    <!-- main js-->
    <script src="../static/js/label_sys.js"></script>
    <script src="../static/js/main.js"></script>
    <!-- text stype -->
    <style>
        .char{
            float: left;
            height: 21px;
            /*border: 1px solid red;*/
        }
        .textTab{
            height: 90%;
        }
        #allInstanceTab{
            padding-left: 3.2px;
            padding-right: 3.2px;
        }
        #commonInstanceTab{
            padding-left: 3.2px;
            padding-right: 3.2px;
        }
        .curSlot{
            background: red;
        }
        #catalogueWindow{
            background-color: white;
        }
        .circleButton{
            border-radius: 50%;
            border:1px solid gray;
            padding: 0px;
            margin: 0px;
            background: white;
            height: 20px;
            width: 20px;
        }
    </style>
    <!-- 页面加载后 -->
    <script>
    $(function(){
        <!--页面初始化(动态部分)-->
            // #catalogueWindow--Load content
            let catalogueInfo = getCatalogue();
            catalogueWindow_updateContent(catalogueInfo);

            // #nodeInfoWindow--Load node labels
            nodeInfoWindow_addLabels();
            nodeInfoWindow_showNoSelect();

            // #instanceSelectWindow--Load instances
            instanceSelectWindow_showInstancePool();

            // #instanceInfoWindow--Load instance labels
            instanceInfoWindow_addLabels();
            instanceInfoWindow_showNoInstance();

        <!-- add event -->
            //textWindow
                // textWindow: 选中一段文本
                $(".textTab").mouseup(function () {
                    textMouseup();
                });

            // nodeInfoWindow
                // nodeInfoWindow: 单击“添加标注对象”按钮
                $("#nodeInfo-noNode").click(function () {
                    addNodeButtonClick();
                });
                // // nodeInfoWindow: 标注信息变动（token）
                    // $("#tokenValue input").change(function () {
                    //     nodeTokenChange();
                    // });
                    // // nodeInfoWindow: 标注信息变动（semanticType）
                    // $("#semanticTypeValue select").change(function () {
                    //     nodeSemanticTypeChange();
                    // });
                    // // 单击实例槽
                    // $(".instance").click(function () {
                    //     if (clickFlag) {//取消上次延时未执行的方法
                    //         clickFlag = clearTimeout(clickFlag);
                    //     }
                    //     curSelectedInstance = this;
                    //     clickFlag = setTimeout(function () {
                    //         instanceClick();
                    //     }, 200);//延时200毫秒执行
                    // });
                    // // 双击实例槽
                    // $("#instanceValue").dblclick(function () {
                    //     if (clickFlag) {//取消上次延时未执行的方法
                    //         clickFlag = clearTimeout(clickFlag);
                    //     }
                    //     // dblclick 事件的处理
                    //     if (curTriggerInstanceSlot === undefined) {
                    //         curTriggerInstanceSlot = this;
                    //         instanceDblclick();
                    //     }
                    // });

            // instanceSelectWindow
                // instanceSelectWindow: 单击“+”按钮
                $("#addInstancePlus").click(function () {
                    addInstancePlusButtonClick();
                });
                // instanceSelectWindow: 单击“→”按钮
                $("#addInstanceArrow").click(function () {
                    addInstanceArrowButtonClick();
                });
                // instanceSelectWindow: 单击实例
                $("#allInstanceDiv .instance").click(function () {
                    //curSelectedInstance = this;
                    instanceClick(this);
                });

            // instanceInfoWindow
                    //     // instanceInfoWindow: desc变动
                    //     $("#descValue").change(function () {
                    //         instanceDescChange();
                    //     });
                    //     // instanceInfoWindow: kg变动
                    //     $("#kgValue").change(function () {
                    //         instanceKgChange();
                    //     });
                    //     // instanceInfoWindow: 单击mentionList中"→"按钮
                    //     $(".instance_extentMentionList_button").click(function () {
                    //         // (这里写的其实没用，真正起作用的事件挂接写在showInstanceInfo中)
                    //     });
                    //     // instanceInfoWindow: 单击mentionLists中"+"按钮
                    //     $("instance_addMentionList_button").click(function () {
                    //         // (这里写的其实没用，真正起作用的事件挂接写在showInstanceInfo中)
                    //     });

            // whole system: 键盘ctrl+s 和 ESC
                $(document).keydown(function(e) {
                    if (e.ctrlKey && e.which == 83) {
                        ctrls();
                    }else if(e.which == 27){
                        let slotObj = $(".slot");
                        if (slotObj.length == 1){
                            slotObj.removeClass("slot");
                            // 去特效
                            document.body.style.cursor = "";
                            slotObj.css("background", "white");
                        }
                    }
                });
    });
    </script>
</head>
<body>
    <div id="textWindow">
        <ul>
            <li><a href="#textTab1">{{langDict["major text window"]}}</a></li>
            <li><a href="#textTab2">{{langDict["minor text window"]}}</a></li>
        </ul>
        <div class="ui-layout-content">
            <div id="textTab1" class="textTab" name="notext">
<!--                    {% for cur_text_unit in text_unit_list %}-->
<!--                        {% if cur_text_unit["char"] in ["\n","\r"] %}-->
<!--                            <div id= {{cur_text_unit["position"]}} class="char">-->
<!--                                <div>\n</div>-->
<!--                            </div>-->
<!--                            <br style="clear:both;">-->
<!--                        {% elif cur_text_unit["char"] == " " %}-->
<!--                            <div id={{cur_text_unit["position"]}} class="char" >-->
<!--                                <div>&nbsp;</div>-->
<!--                            </div>-->
<!--                        {% else %}-->
<!--                            <div id={{cur_text_unit["position"]}} class="char" >-->
<!--                                <div>{{ cur_text_unit["char"] }}</div>-->
<!--                            </div>-->
<!--                        {% endif %}-->
<!--                    {% endfor %}-->
            </div>
            <div id="textTab2" class="textTab">
                <p>minor window is to show a mention in mentionList of a instance.</p>
            </div>
        </div>
    </div>
    <div id="catalogueWindow">
        <!--            <ul id="browser" class="filetree">-->
        <!--                <li><span>Folder 1</span>-->
        <!--                    <ul>-->
        <!--                        <li><span>Item 1.1</span>-->
        <!--                            <ul>-->
        <!--                                <li><span>Item 1.1.1</span></li>-->
        <!--                            </ul>-->
        <!--                        </li>-->
        <!--                        <li><span>Folder 2</span>-->
        <!--                            <ul>-->
        <!--                                <li><span>Subfolder 2.1</span>-->
        <!--                                    <ul id="folder21">-->
        <!--                                        <li><span class="file">File 2.1.1</span></li>-->
        <!--                                        <li><span class="file">File 2.1.2</span></li>-->
        <!--                                    </ul>-->
        <!--                                </li>-->
        <!--                                <li><span>Subfolder 2.2</span>-->
        <!--                                    <ul>-->
        <!--                                        <li><span>File 2.2.1</span></li>-->
        <!--                                        <li><span>File 2.2.2</span></li>-->
        <!--                                    </ul>-->
        <!--                                </li>-->
        <!--                            </ul>-->
        <!--                        </li>-->
        <!--                        <li class="closed"><span>Folder 3 (closed at start)</span>-->
        <!--                            <ul>-->
        <!--                                <li><span>File 3.1</span></li>-->
        <!--                            </ul>-->
        <!--                        </li>-->
        <!--                        <li><span>File 4</span></li>-->
        <!--                    </ul>-->
        <!--                </li>-->
        <!--            </ul>-->
    </div>
    <div id="eastWindow">
        <div id="annotationWindow">
            <div id="nodeInfoWindow">
                <div id="nodeInfo-noSelect">
                    <p>{{langDict["no mention selected."]}}</p>
                </div>
                <div id="nodeInfo-noNode">
                    <button>{{langDict["create a node for current mention."]}}</button>
                </div>
                <div id="nodeInfo-selectedNode">
                <span>
                    {{langDict["current node"]}}
                    <button class="circleButton">x</button>
                </span>

                    <!--                <span id="positionKey"> position =</span>-->
                    <!--                 <span id="positionValue">XXXXX</span>-->
                    <!--                <div id="nodeInfo-token">-->
                    <!--                    <span id="tokenKey">&nbsp &nbsp token =</span>-->
                    <!--                    <span id="tokenValue">-->
                    <!--                        <input type = "radio" name = "token" value = "true" />True-->
                    <!--                        <input type = "radio" name = "token" value = "false" checked/>False-->
                    <!--                    </span>-->
                    <!--                </div>-->
                    <!--                <div id="nodeInfo-semanticType">-->
                    <!--                    <span id="semanticTypeKey">&nbsp &nbsp mention.type =</span>-->
                    <!--                    <span id="semanticTypeValue">-->
                    <!--                    <select>-->
                    <!--                        <option value="none" selected>无</option>-->
                    <!--                        <option value="peo">人</option>-->
                    <!--                        <option value="org">组织</option>-->
                    <!--                        <option value="addr">地点</option>-->
                    <!--                        <option value="act">行为</option>-->
                    <!--                        <option value="sub">物</option>-->
                    <!--                    </select>-->
                    <!--                </span>-->
                    <!--                </div>-->
                    <!--                <div id="nodeInfo-instance">-->
                    <!--                    <span id="instanceKey">&nbsp &nbsp coref.instance =</span>-->
                    <!--                    <button id="instanceValue">none</button>-->
                    <!--                    <span>(double click to edit)</span>-->
                    <!--                </div>-->
                </div>
            </div>
            <div id="instanceInfoWindow">
                <div id="instanceInfo-noInstance"style="display: block">select a instance to show it's info.</div>
                <div id="instanceInfo-selectedInstance">
                <span>
                    {{langDict["current instance"]}}
                    <button class="circleButton">x</button>
                </span>
                    <!--                <div id="instanceInfo-id" style="display: none">-->
                    <!--                    <span id="idKey">id=</span>-->
                    <!--                    <span id="idValue"> </span>-->
                    <!--                    <hr/>-->
                    <!--                </div>-->
                    <!--                <div id="instanceInfo-desc" style="display: none">-->
                    <!--                    <span id="descKey">desc= </span>-->
                    <!--                    <input id="descValue" type="text" value="" />-->
                    <!--                    <hr/>-->
                    <!--                </div>-->
                    <!--                <div id="instanceInfo-kg"  style="display: none">-->
                    <!--                    <span id="kgKey">kg=</span>-->
                    <!--                    <input id="kgValue" type="text" value="none"/>-->
                    <!--                    <hr/>-->
                    <!--                </div>-->
                    <!--                <div id="instanceInfo-mentionLists"  style="display: none">-->
                    <!--                    <span id="mentionListsKey">mentionList=</span>-->
                    <!--                    <div id="mentionListsValue">-->
                    <!--    -->
                    <!--                    </div>-->
                    <!--                    <hr/>-->
                    <!--                </div>-->
                </div>
            </div>
        </div>
        <div id="instanceSelectWindow">
<!--            <div id="searchInstance">-->
<!--                <input style="width: 85%">-->
<!--                <button class="searchInstanceButton" style="padding:0px;">🔍</button>-->
<!--            </div>-->
            <button id="addInstancePlus" class="circleButton">+</button>
            <button id="addInstanceArrow" class="circleButton">→</button>
            <div id="allInstanceDiv">
{#                <!--                {% for i in instance_dict: %}-->#}
{#                <!--                    <button class="instance" name={{instance_dict[i]["id"]}}>-->#}
{#                <!--                        {{instance_dict[i]["desc"]}}-->#}
{#                <!--                    </button>-->#}
{#                <!--                {% endfor %}-->#}
            </div>
        </div>
    </div>
</body>
</html>
