<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>myTitle</title>
    <!-- jquery-->
    <script src="../static/jquery-ui-1.12.1/external/jquery/jquery.js"></script>
    <!-- jquery ui-->
    <link rel="stylesheet" href="../static/jquery-ui-1.12.1/jquery-ui.css">
    <script src="../static/jquery-ui-1.12.1/jquery-ui.js"></script>
    <script src="../static/jquery-ui-1.12.1/my-ui.js"></script>
    <!-- jquery ui layout-->
	<script src="../static/jquery-layout-1.4.0/jquery.layout-latest.js"></script>
    <link rel="stylesheet" href="../static/jquery-layout-1.4.0/layout-default-latest.css">
    <script src="../static/jquery-layout-1.4.0/my-layout.js"></script>
    <link href="../static/jquery-layout-1.4.0/my-layout.css" rel="stylesheet">
    <!-- jquery tree view -->
    <link rel="stylesheet" href="https://static.runoob.com/assets/js/jquery-treeview/jquery.treeview.css" />
	<link rel="stylesheet" href="https://static.runoob.com/assets/js/jquery-treeview/screen.css" />
	<script src="https://static.runoob.com/assets/js/jquery-treeview/jquery.treeview.js" type="text/javascript"></script>
    <!-- main js-->
    <script src="../static/js/main.js"></script>
    <!-- text stype -->
    <style>
        .char{
            float: left;
            height: 21px;
            /*border: 1px solid red;*/
        }
        .textTab{
            height: 90%;
        }
        #allInstanceTab{
            padding-left: 3.2px;
            padding-right: 3.2px;
        }
        #commonInstanceTab{
            padding-left: 3.2px;
            padding-right: 3.2px;
        }
        .curSlot{
            background: red;
        }
        #contentWindow{
            background-color: white;
        }
    </style>
</head>
<body>
    <div id="centerWindow">
        <div id="contentWindow">
<!--            <ul id="browser" class="filetree">-->
<!--                <li><span>Folder 1</span>-->
<!--                    <ul>-->
<!--                        <li><span>Item 1.1</span>-->
<!--                            <ul>-->
<!--                                <li><span>Item 1.1.1</span></li>-->
<!--                            </ul>-->
<!--                        </li>-->
<!--                        <li><span>Folder 2</span>-->
<!--                            <ul>-->
<!--                                <li><span>Subfolder 2.1</span>-->
<!--                                    <ul id="folder21">-->
<!--                                        <li><span class="file">File 2.1.1</span></li>-->
<!--                                        <li><span class="file">File 2.1.2</span></li>-->
<!--                                    </ul>-->
<!--                                </li>-->
<!--                                <li><span>Subfolder 2.2</span>-->
<!--                                    <ul>-->
<!--                                        <li><span>File 2.2.1</span></li>-->
<!--                                        <li><span>File 2.2.2</span></li>-->
<!--                                    </ul>-->
<!--                                </li>-->
<!--                            </ul>-->
<!--                        </li>-->
<!--                        <li class="closed"><span>Folder 3 (closed at start)</span>-->
<!--                            <ul>-->
<!--                                <li><span>File 3.1</span></li>-->
<!--                            </ul>-->
<!--                        </li>-->
<!--                        <li><span>File 4</span></li>-->
<!--                    </ul>-->
<!--                </li>-->
<!--            </ul>-->
        </div>
        <div id="nodeInfoWindow">
            <p id="nodeInfo-noSelect" style="display: block">select a range of text to show the annotation info.</p>
            <button id="nodeInfo-noNode" style="display: none">add a annotation node for this mention.</button>
            <div id="nodeInfo-path" style="display: none">
                <span id="pathKey"> > path =</span>
                <span id="pathValue">XXXXX</span>
            </div>
            <div id="nodeInfo-token" style="display: none">
                <span id="tokenKey"> > token =</span>
                <span id="tokenValue">
                    <input type = "radio" name = "token" value = "true" />True
                    <input type = "radio" name = "token" value = "false" checked/>False
                </span>
            </div>
            <div id="nodeInfo-semanticType" style="display: none">
                <span id="semanticTypeKey"> > mention.type =</span>
                <span id="semanticTypeValue">
                    <select>
                        <option value="none" selected>无</option>
                        <option value="peo">人</option>
                        <option value="org">组织</option>
                        <option value="addr">地点</option>
                        <option value="act">行为</option>
                        <option value="sub">物</option>
                    </select>
                </span>
            </div>
            <div id="nodeInfo-instance" style="display: none">
                <span id="instanceKey"> > coref.instance =</span>
                <button id="instanceValue">none</button>
                <span>(double click to edit)</span>
            </div>
        </div>
        <div id="textWindow">
            <ul>
                <li><a href="#textTab1">major</a></li>
                <li><a href="#textTab2">minor</a></li>
            </ul>
            <div class="ui-layout-content">
                <div id="textTab1" class="textTab">
<!--                    {% for cur_text_unit in text_unit_list %}-->
<!--                        {% if cur_text_unit["char"] in ["\n","\r"] %}-->
<!--                            <div id= {{cur_text_unit["position"]}} class="char">-->
<!--                                <div>\n</div>-->
<!--                            </div>-->
<!--                            <br style="clear:both;">-->
<!--                        {% elif cur_text_unit["char"] == " " %}-->
<!--                            <div id={{cur_text_unit["position"]}} class="char" >-->
<!--                                <div>&nbsp;</div>-->
<!--                            </div>-->
<!--                        {% else %}-->
<!--                            <div id={{cur_text_unit["position"]}} class="char" >-->
<!--                                <div>{{ cur_text_unit["char"] }}</div>-->
<!--                            </div>-->
<!--                        {% endif %}-->
<!--                    {% endfor %}-->
                </div>
                <div id="textTab2" class="textTab">
                    <p>minor window is to show a mention in mentionList of a instance.</p>
                </div>
            </div>
        </div>
    </div>
    <div id="instanceWindow">
        <div id="instanceSelectWindow">
            <div id="searchInstance">
                <input style="width: 85%">
                <button class="searchInstanceButton" style="padding:0px;">🔍</button>
            </div>
            <button class="addInstancePlus" >+</button>
            <button class="addInstanceArrow">→</button>
            <div id="allInstanceDiv">
                {% for i in instance_dict: %}
                    <button class="instance" name={{instance_dict[i]["id"]}}>
                                                                        {{instance_dict[i]["desc"]}}
                                                                        </button>
                {% endfor %}
            </div>
        </div>
        <div id="instancInfoWindow">
            <div id="instanceInfo-noInstance"style="display: block">select a instance to show it's info.</div>
            <div id="instanceInfo-id" style="display: none">
                <span id="idKey">id=</span>
                <span id="idValue"> </span>
                <hr/>
            </div>
            <div id="instanceInfo-desc" style="display: none">
                <span id="descKey">desc= </span>
                <input id="descValue" type="text" value="" />
                <hr/>
            </div>
            <div id="instanceInfo-kg"  style="display: none">
                <span id="kgKey">kg=</span>
                <input id="kgValue" type="text" value="none"/>
                <hr/>
            </div>
            <div id="instanceInfo-mentionLists"  style="display: none">
                <span id="mentionListsKey">mentionList=</span>
                <div id="mentionListsValue">

                </div>
                <hr/>
            </div>
        </div>
    </div>
</body>
</html>

<!-- add event -->
<script>
    // textWindow: 选中一段文本
    $(".textTab").mouseup(function () {
        textMouseup();
    });

    // nodeInfoWindow: 单击“添加标注对象”按钮
    $("#nodeInfo-noNode").click(function () {
        addNodeButtonClick();
    });
    // nodeInfoWindow: 标注信息变动（token）
    $("#tokenValue input").change(function () {
        nodeTokenChange();
    });
    // nodeInfoWindow: 标注信息变动（semanticType）
    $("#semanticTypeValue select").change(function () {
        nodeSemanticTypeChange();
    });

    // 单击实例
    $(".instance").click(function () {
        if (clickFlag) {//取消上次延时未执行的方法
            clickFlag = clearTimeout(clickFlag);
        }
        curSelectedInstance = this;
        clickFlag = setTimeout(function () {
            instanceClick();
        }, 150);//延时300毫秒执行
    });
    // 双击实例槽
    $("#instanceValue").dblclick(function () {
        if (clickFlag) {//取消上次延时未执行的方法
            clickFlag = clearTimeout(clickFlag);
        }
        // dblclick 事件的处理
        if (curTriggerInstanceSlot === undefined) {
            curTriggerInstanceSlot = this;
            instanceDblclick();
        }
    });

    // instanceSelectWindow: 单击“+”按钮
    $(".addInstancePlus").click(function () {
        addInstancePlusButtonClick();
    });
    // instanceSelectWindow: 单击“→”按钮
    $(".addInstanceArrow").click(function () {
        addInstanceArrowButtonClick();
    });

    // instanceInfoWindow: desc变动
    $("#descValue").change(function () {
        instanceDescChange();
    });
    // instanceInfoWindow: kg变动
    $("#kgValue").change(function () {
        instanceKgChange();
    });
    // instanceInfoWindow: 单击mentionList中"→"按钮
    $(".instance_extentMentionList_button").click(function () {
        // (这里写的其实没用，真正起作用的事件挂接写在showInstanceInfo中)
    });
    // instanceInfoWindow: 单击mentionLists中"+"按钮
    $("instance_addMentionList_button").click(function () {
        // (这里写的其实没用，真正起作用的事件挂接写在showInstanceInfo中)
    });
</script>

<!--页面初始化-->
<script>
    // #textTab1--Load text
    // getText(
    //     "",
    //     function (data) {
    //         majorTextWindow_updateText(data, 0);
    //         majorTextWindow_show(data);
    //     }
    // );

    // #contentWindow--Load content
    getContent(function (data){
        contentWindow_updateContent(data);
    })
</script>
